<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="Preferences"
            id="com.onpositive.prefeditor">
      </category>
      <view
            name="Preferences"
            icon="icons/preferences.gif"
            category="com.onpositive.prefeditor"
            class="com.onpositive.prefeditor.views.PreferenceView"
            id="com.onpositive.prefeditor.views.PreferenceView">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               ratio="0.5"
               relative="org.eclipse.ui.views.ProblemView"
               relationship="right"
               id="com.onpositive.prefeditor.views.PreferenceView">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>

</plugin>
